{{ form_start(form) }}
<div class="row">
	<div class="col-md-6 mb-3">
		{{ form_row(form.jeuvideo) }}
	</div>
	<div class="col-md-6 mb-3">
		{{ form_row(form.statut) }}
	</div>
</div>
<div class="row">
	<div class="col-md-6 mb-3">
		{{ form_row(form.prixAchat) }}
	</div>
	<div class="col-md-6 mb-3">
		{{ form_row(form.dateAchat) }}
	</div>
</div>
<div class="mb-3">
	{{ form_row(form.commentaire) }}
</div>
<button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
